@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 30px;
  background-image: url("../_images/pale.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
  position: relative;
  max-width: 850px;
  max-height: 800;
  width: 100%;
  background: white;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2600px;
  border-radius: 15px;
}

.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.container .cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: blueviolet;
  opacity: 0.4;
  z-index: 100;
}

.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.container .cover .front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container .cover .back {
  transform: rotateY(180deg);
}

.container .cover .back .backImg {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.container .cover img {
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10;
}

.container .cover .text {
  position: absolute;
  z-index: 101;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container .text span.text-2 {
  font-size: 15px;
  font-weight: 500;
}

.container form {
  height: 100%;
  width: 100%;
  background: white;
}
.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc((100% / 2 - 25px));
}

.form-content .title {
  font-size: 24px;
  font-weight: 500px;
  color: #333;
  position: relative;
}

.form-content .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background-color: blueviolet;
  border-radius: 25px;
}

.form-content .signup-form .title::before {
  width: 20px;
}

input[type="checkbox"] {
  display: none;
}
.form-content .textboxes {
  margin-top: 30px;
}

.form-content .textbox {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 10px;
}

.form-content .textbox input {
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 12px;
  border: none;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid grey;
  transition: all 0.3s ease;
}

.textbox input:is(:focus, :valid) {
  border-bottom-color: blueviolet;
}

.form-content .textbox i {
  position: absolute;
  left: 3%;
  font-size: 17px;
}

.error-input {
  border-bottom: 2px solid red;
}

.textbox input:is(:focus, :valid) ~ i {
  color: blueviolet;
}

.textbox i.show {
  left: 90%;
  cursor: pointer;
}

.container .form-content .red-text {
  font-size: small;
  position: relative;
  width: 100%;
  left: 15px;
  color: red;
}

form .role_details .category {
  display: flex;
  padding-left: 10px;
  width: 100%;
  margin: 0px 0;
  justify-content: space-between;
}

.role_details .category label {
  display: flex;
  align-items: center;
}

.role_details .category .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #555;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #9b59b6;
  background: #fff;
}

form input[type="radio"] {
  display: none;
}

.form-content .textbox .button {
  background: linear-gradient(120deg, #4568dc, #b06ab3);
  background-size: 200%;

  color: white;
  margin: 30px 0;
  transition: all 0.5 ease;
}

.form-content .textbox .button:hover {
  background-position: right;
  font-size: 1.1rem;
  cursor: pointer;
}

.form-content span {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin: 5px;
}

.form-content label {
  text-decoration: none;
  color: #4568dc;
  cursor: pointer;
  margin: 5px;
}
.form-content label:hover {
  text-decoration: underline;
  color: blueviolet;
}

.form-content .login-text,
.form-content .signup-text {
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 730px) {
  .container .cover {
    display: none;
  }

  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }

  .form-content .signup-form {
    display: none;
  }

  .container #flip:checked ~ .form-content .signup-form {
    display: block;
  }

  .container #flip:checked ~ .form-content .login-form {
    display: none;
  }
}
